@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondBold.ttf");
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1280,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.7813rem, 0.6809rem + 0.5019vw, 1.12rem);
    --step--1: clamp(0.9375rem, 0.8005rem + 0.6852vw, 1.4rem);
    --step-0: clamp(1.125rem, 0.9398rem + 0.9259vw, 1.75rem);
    --step-1: clamp(1.35rem, 1.1019rem + 1.2407vw, 2.1875rem);
    --step-2: clamp(1.62rem, 1.2898rem + 1.6509vw, 2.7344rem);
    --step-3: clamp(1.9438rem, 1.5069rem + 2.1843vw, 3.4181rem);
    --step-4: clamp(2.3325rem, 1.7577rem + 2.8741vw, 4.2725rem);
    --step-5: clamp(2.7994rem, 2.0464rem + 3.7648vw, 5.3406rem);

    --open-step--2: clamp(0.5206rem, 0.4791rem + 0.2076vw, 0.64rem);
    --open-step--1: clamp(0.625rem, 0.5641rem + 0.3043vw, 0.8rem);
    --open-step-0: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
    --open-step-1: clamp(0.9rem, 0.7783rem + 0.6087vw, 1.25rem);
    --open-step-2: clamp(1.08rem, 0.9122rem + 0.8391vw, 1.5625rem);
    --open-step-3: clamp(1.2963rem, 1.0678rem + 1.1424vw, 1.9531rem);
    --open-step-4: clamp(1.555rem, 1.2467rem + 1.5413vw, 2.4413rem);
    --open-step-5: clamp(1.8663rem, 1.4539rem + 2.062vw, 3.0519rem);

    --title-step--2: clamp(2.0831rem, 0.8877rem + 5.9772vw, 5.52rem);
    --title-step--1: clamp(2.5rem, 0.9696rem + 7.6522vw, 6.9rem);
    --title-step-0: clamp(3rem, 1.0435rem + 9.7826vw, 8.625rem);
    --title-step-1: clamp(3.6rem, 1.1022rem + 12.4891vw, 10.7813rem);
    --title-step-2: clamp(4.32rem, 1.135rem + 15.925vw, 13.4769rem);
    --title-step-3: clamp(5.1838rem, 1.1274rem + 20.2815vw, 16.8456rem);
    --title-step-4: clamp(6.2206rem, 1.0602rem + 25.8022vw, 21.0569rem);
    --title-step-5: clamp(7.465rem, 0.9063rem + 32.7935vw, 26.3213rem);
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2%;
    font-size: var(--open-step--1);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans Condensed", 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


section {
    max-width: 1500px;
    margin: auto;
    min-height: 40vh;
    padding: var(--step-4) var(--open-step-1);
    align-content: center;
}

h1,
h2 {
    color: #170F0F;
    font-size: var(--step-3);
    font-style: normal;
    font-weight: 700;
    line-height: 102%;
    letter-spacing: calc(var(--step-3) * -.035);
}

h2.large {
    font-size: var(--step-5);
    font-weight: 700;
    margin-bottom: var(--step-0);
    letter-spacing: calc(var(--step-5) * -.05);
}

h2.extra-large {
    font-size: var(--title-step-0);
    font-weight: 700;
    letter-spacing: calc(var(--step-5) * -.08);
}

h1 {
    font-size: var(--step-5);
    line-height: 90%;
    color: #170f0f;
    padding-bottom: var(--open-step-2);
    letter-spacing: calc(-.03 * (var(--title-step--1)));
}

p {
    margin: 0;
    padding: 0;
    color: #181D24;
    font-size: var(--open-step-1);
    line-height: 155%;
    font-style: normal;
    font-weight: 500;
    margin-bottom: var(--step-0);
    color: #181D24;
    letter-spacing: calc(var(--step-0) * -.015)
}

a {
    font-weight: 700;
    color: #2929FF;
    text-decoration: none;
    font-size: var(--open-step-1);
    letter-spacing: -0.35px;
    position: relative;
    border-bottom: solid 2px #fff0;
}

a.icon::after {
    content: '';
    background-image: url("../img/alexandra-cortez-icon-arrow.svg");
    background-repeat: round;
    width: var(--open-step-3);
    height: var(--open-step-3);
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(var(--open-step-3));
    top: 2px;
    opacity: 0;
    transition: all 200ms ease-in;
}

a:hover::after {
    transform: translateX(var(--open-step-4));
    opacity: 1;
}

a:hover {
    border-bottom: 2px solid currentColor;
}

p a:hover {
    color: #2929FF;
}

p a {
    margin: 0;
    padding: 0;
    color: #181D24;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: normal;
    font-weight: inherit;
    border-bottom: solid 2px #181D24;
    height: calc(var(--open-step-2) + 4px);
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

/* INTRODUCTION */
section.introduction {
    padding: var(--step-5) var(--open-step-4);
    margin: 24px 34px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: var(--step-3);
    align-items: center;
}

/* HEROES */


.gallery {
    overflow: visible;
}


/* HOME CASE STUDY LAYOUT */

section.case-study {
    display: grid;
    grid-template-columns: fit-content(56%) 1fr;
    align-items: center;
    padding: 48px 0 28px 0;
    margin: 24px 34px;
    gap: 0;
}

.btn-group {
    display: flex;
    gap: var(--open-step-1);
    justify-content: center;
    padding-top: var(--open-step-5);
    color: #F0F0FA;
    font-size: var(--open-step-1);
}


.tool-item {
    display: grid;
    grid-template-columns: var(--open-step-4) auto;
    gap: 0;
    align-items: center;
    border: solid 1px #F0F0FA;
    padding: 0px 16px 0px 6px;
    color: #242447;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--open-step-0);
    line-height: 128.571%;
    border-radius: 3em;
}

.tools {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    gap: 0.75rem 0.5rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: var(--step--2) 0;
}

section.case-study .hero {
    position: relative;
    max-width: 740px;
}

hr {
    width: 100%;
    margin: var(--step-2) 0 var(--step--2) 0;
    height: 1px;
    background-color: #F0F0FA;
    border: none;
}

section.case-study .details {
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    padding: var(--open-step-2) var(--open-step-4);
}

section.case-study .details .wording {
    margin-top: auto;
}

section.case-study .details .wording p {
    margin-bottom: 24px;
}


@media all and (min-width:992px) {
    section.case-study.swap {
        display: grid;
        grid-template-columns: 1fr fit-content(56%);
    }

    section.case-study.swap .hero {
        order: 2;
    }

    section.case-study h2 {
        margin-bottom: var(--step-1);
    }
}

@media all and (max-width:991px) {
    section.introduction {
        grid-template-columns: 1fr;
        gap: var(--step--2);
        padding: var(--step-5) 34px;
        margin: 0 0 var(--open-step-1);
    }

    .tools {
        justify-content: flex-start;
    }

    section.case-study .details {
        margin: 0 34px;
        padding: var(--open-step-2) 0;
    }

    section.case-study {
        padding: var(--title-step-0) 0 var(--title-step-0) 0;

    }

    section,
    section.case-study {
        max-width: 767px;
        margin: auto;
    }

    section.case-study,
    section.case-study.swap {
        grid-template-columns: 1fr;
    }

    section.case-study .hero,
    img.cover-image {
        max-width: none;
    }

    section.case-study>div,
    section.introduction>div {
        padding: 32px 0 0 0;
        margin: 0;
    }

    section.case-study .details {
        margin-top: 0;
    }

    section.case-study .details .wording {
        margin-top: 24px;
    }

    .flickity-prev-next-button {
        display: none;
    }

}

.flickity-page-dots .dot {
        width: calc(.75 * var(--open-step--1));
        height: calc(.75 * var(--open-step--1));
        background: #B3B3BC;
        transition: all 175ms ease-in;
}

.flickity-prev-next-button {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.02), 2px 4px 4px 0px rgba(0,0,0,0.02);
    transition: all 175ms ease-in;
}

.flickity-prev-next-button:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.04), 2px 4px 4px 0px rgba(0,0,0,0.04);

}

.flickity-prev-next-button svg {
        mix-blend-mode: exclusion;
        width: 44%;
        left: 27%;
    }

/* ---- HORIZONTAL SCROLL ----- */
section.scroller {
    min-height: 0;
    max-width: none;
    width: 100%;
    color: #696980;
    font-size: var(--step-1);
    font-style: normal;
    font-weight: 700;
    line-height: 102%;
    letter-spacing: calc(var(--step-2) * -.035);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', 'Open Sans';
    margin: 0;
    padding: 0;
    margin-top: var(--step-4);
    margin-bottom: var(--step-2);
}

section.scroller hr {
    margin: 0;
    padding: 0;
}

section.scroller .scroller__inner .item {
    display: grid;
    grid-template-columns: var(--step-3) max-content;
    align-items: center;
    padding: var(--step-0) var(--step-4);
}

.scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
        transparent,
        white 10%,
        white 90%,
        transparent);
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 50s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* ---- CONTACT ----- */
.mailto-link {
    position: relative;
}

.mailto-message {
    font-family: 'Open Sans';
    top: calc(3.5 * var(--open-step-1));
    left: 50%;
    margin-bottom: -5px;
    transform: translate(-50%, -100%);
    position: absolute;
    display: none;
    width: auto;
    white-space: nowrap;
    font-size: var(--open-step--1);
    font-weight: normal;
    background-color: #F0FAF0;
    color: #158015;
    padding: 4px 10px;
    border-radius: 100px;
}

/*----- UTILITY --------*/
.w-full {
    width: 100%;
    max-width: none;
}

.min-h-0 {
    min-height: 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.sticky {
    position: sticky;
    top: var(--open-step-1);
}

.tag {
    opacity: 0;
}

.display-none {
    display: none !important;
    visibility: 0;
}

.display-block {
    display: block !important;
    visibility: 1;
}

.gallery-cell {
    width: 66%;
    margin-right: 10px;
}

.tag:not(.visible) {
    opacity: 0;
    animation: fadeIn 1s ease-in reverse;
}

.tag.visible {
    opacity: 1;
    animation: fadeIn 900ms ease-in;
}

.tag.visible.delay {
    transition-delay: 1.2s;
    transition: opacity 500ms ease-in;
}

.scale:not(.visible) {
    animation: fadeIn 900ms ease-in reverse, scaleUp 300ms ease-in reverse;
    transition: transform 500ms, opacity 300ms;
    transform: scale(.85) translate(0, 1vh);
    opacity: 0;
}

.tag.delay:not(.visible) {
    animation: fadeIn 900ms ease-in reverse;
    transition: opacity 300ms;
    opacity: 0;
}

.scale.visible {
    z-index: -1;
    animation: fadeIn 900ms ease-in, scaleUp 300ms ease-in;
    transition: transform 500ms, opacity 300ms;
    transform: scale(1) translate(0, 0);
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(.85) translate(0, 1vh);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}