@font-face {
	font-family: "Crimson Pro Black";
	src: url("../fonts/CrimsonPro-Black.ttf");
}
@font-face {
	font-family: "Crimson Pro Medium";
	src: url("../fonts/CrimsonPro-Medium.ttf");
}
@font-face {
	font-family: "Crimson Pro Medium Italic";
	src: url("../fonts/CrimsonPro-MediumItalic.ttf");
}
@font-face {
	font-family: "Crimson Pro Regular";
	src: url("../fonts/CrimsonPro-Regular.ttf");
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1280,32,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.6809rem + 0.5019vw, 1.12rem);
  --step--1: clamp(0.9375rem, 0.8005rem + 0.6852vw, 1.4rem);
  --step-0: clamp(1.125rem, 0.9398rem + 0.9259vw, 1.75rem);
  --step-1: clamp(1.35rem, 1.1019rem + 1.2407vw, 2.1875rem);
  --step-2: clamp(1.62rem, 1.2898rem + 1.6509vw, 2.7344rem);
  --step-3: clamp(1.9438rem, 1.5069rem + 2.1843vw, 3.4181rem);
  --step-4: clamp(2.3325rem, 1.7577rem + 2.8741vw, 4.2725rem);
  --step-5: clamp(2.7994rem, 2.0464rem + 3.7648vw, 5.3406rem);

  --open-step--2: clamp(0.5206rem, 0.4791rem + 0.2076vw, 0.64rem);
  --open-step--1: clamp(0.625rem, 0.5641rem + 0.3043vw, 0.8rem);
  --open-step-0: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --open-step-1: clamp(0.9rem, 0.7783rem + 0.6087vw, 1.25rem);
  --open-step-2: clamp(1.08rem, 0.9122rem + 0.8391vw, 1.5625rem);
  --open-step-3: clamp(1.2963rem, 1.0678rem + 1.1424vw, 1.9531rem);
  --open-step-4: clamp(1.555rem, 1.2467rem + 1.5413vw, 2.4413rem);
  --open-step-5: clamp(1.8663rem, 1.4539rem + 2.062vw, 3.0519rem);

  --title-step--2: clamp(2.0831rem, 0.8877rem + 5.9772vw, 5.52rem);
  --title-step--1: clamp(2.5rem, 0.9696rem + 7.6522vw, 6.9rem);
  --title-step-0: clamp(3rem, 1.0435rem + 9.7826vw, 8.625rem);
  --title-step-1: clamp(3.6rem, 1.1022rem + 12.4891vw, 10.7813rem);
  --title-step-2: clamp(4.32rem, 1.135rem + 15.925vw, 13.4769rem);
  --title-step-3: clamp(5.1838rem, 1.1274rem + 20.2815vw, 16.8456rem);
  --title-step-4: clamp(6.2206rem, 1.0602rem + 25.8022vw, 21.0569rem);
  --title-step-5: clamp(7.465rem, 0.9063rem + 32.7935vw, 26.3213rem);
}

body, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: white;
	margin: 0;
	padding:0;
	background-color: transparent;
}

body {
	background-color: white;
}

h1, h2 {
	color: #170F0F;
/*	font-size: 58px;*/
	font-size:var(--step-3);
	font-style: normal;
	font-weight: 800;
	line-height: 110%;
	letter-spacing: -0.58px;
}

h3 {
	font-size:var(--open-step-2);
}

h1.title {
	font-family: "Crimson Pro Black";
/*	font-size:138px;*/
	font-size: var(--title-step-0);
	line-height:78%;
	color: #170f0f;
	padding-bottom:8px;
}

section.header .wording {
		align-self:center;
	}

p {
	margin: 0;
	padding:0;
	color: #181D24;
	font-family: Crimson Pro Medium;
/*	font-size: 24px;*/
	font-size:var(--step-0);
	line-height: 117%;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 4%;
}

p.subtitle {
	font-family: 'Open Sans', sans-serif;
/*	font-size: 28px;*/
/*	line-height: 36px;*/
	font-size:var(--open-step-3);
	color: #0f0f17;
	margin-top: var(--open-step-2);
/*	text-align:right;*/
}

p.small {
	font-family: 'Open Sans', sans-serif;
	color: #70777D;
/*	font-size: 14px;*/
	font-size:var(--open-step-0);
	font-weight: 400;
	line-height: 28px; /* 200% */
	margin-bottom:0 !important;
}

.date{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #70777D;
	font-size:var(--open-step-0);
	letter-spacing: calc(var(--open-step-0) * .05);
	line-height: 28px; /* 200% */
	margin-bottom: var(--open-step-0);
	display:block;
	text-transform: uppercase;
}

a {
	font-weight:800;
	color: #2929FF;
	text-decoration: none;
	font-size:var(--open-step-1);
	position:relative;
}

a.icon::after {
	content:'';
	background-image: urL("../img/alexandra-cortez-icon-arrow.svg");
	background-repeat: round;
	width:var(--open-step-3);
	height:var(--open-step-3);
	display: block;
	position:absolute;
	right:0;
	transform: translateX(var(--open-step-3));
	top:2px;
	opacity:0;
	transition:all 200ms ease-in;
}

a:hover::after{
	transform: translateX(var(--open-step-4));
	opacity:1;
}

p span {
	font-family: Crimson Pro Medium Italic;
	margin-right:4px;
}


a:hover {
	border-bottom: 2px solid blue;
}

a.button {
	display:block;
	width:fit-content;
	margin-top:32px;
	background-color: white;
	color: #E8AC02;
	padding: 10px 18px;
	border-bottom: solid 2px #E8AC02;
	border-left: solid 2px #E8AC02;
	border-top: solid 2px white;
	border-right: solid 2px white;
}

p a {
	margin: 0;
	padding:0;
	color: #181D24;
	font-family: Crimson Pro Medium;
	font-size:var(--step-0);
	line-height: 117%;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 4%;
	border-bottom: solid 2px #181D24;
}

nav {
	display: flex;
	margin:auto;
	padding: 4px;
	gap: 4px;
	width:100%;
	max-width: 300px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.06), 0px 0px 8px 0px rgba(0, 0, 0, 0.02); 
	border-radius:120px;
	margin-top:28px;
}

nav a {
	background-color: #fff;
	color: 2929ff;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight: 400;
	padding: 8px 16px;
	border-radius: 100px;
	text-decoration: none;
	width:100%;
	text-align: center;
	
}

nav a:hover {
	background-color: #F5F5FA;
	border:none;
}

nav a.selected {
	background-color: #2929ff;
	color: white;	
	font-weight: 700;
}

a.button:hover {
	border: dashed 2px #E8AC02;
}

img {width:100%;height:auto}

/* HOME HEADER LAYOUT */

section.header{
	min-height: 85vh;
	display: flex;
/*	align-items:center;*/
	padding: 16px 34px;
}

section.header > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: last baseline;
	gap: var(--open-step-5);
	align-items: stretch;
}

.background-plus {
	background-image: url("../img/plus.png");
	background-repeat: round;
	width:100%;
}

/* HOME CASE STUDY LAYOUT */

section.case-study {
	display: grid;
	grid-template-columns: fit-content(56%) 1fr;
	padding:48px 0 28px 0;
	border-top: solid 2px #E4E9EE;
	margin: 24px 34px;
	gap: 0;
}

section.case-study.single-col {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 60%;
	margin-left: auto;
	padding: 40px 0;
}

.gray {
	background-color: #F7F8FA;
	border-top: solid 2px #E4E9EE;
}

.gray section.case-study {
	border-top:none;
	margin-bottom:0;
}

/*section.case-study .hero,
section.case-study .details {
	margin: 24px 34px;
}*/





.tool-item{
	display:grid;
	grid-template-columns: 40px auto;
	gap: 14px;
	align-items: center;
	color: #70777D;
	font-family: 'Open Sans', sans-serif;
/*	font-size: 14px;*/
font-size:var(--open-step-0);
	font-style: normal;
	font-weight: 700;
	line-height: 128.571%
	letter-spacing: 0.42px;
	text-transform: uppercase;
}

.tools > div {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px 24px;
}

section.case-study .hero {
	position:relative;
	max-width: 740px;
}

/*section.case-study .hero h2 {
	position:absolute;
	top:40px;
}*/

section.case-study .tools hr {
	border: none;
	border-top: solid 1px #DCDCDC;
	margin: 16px 0;
}

/*section.case-study .hero h2::after {
	display:block;
	content:'';
	width:28px;
	height:4px;
	background-color:blue;
	margin-top:28px;
}*/


section.case-study .details {
	display: flex;
	flex-flow:column;
	background-color: #F7F7FC;
	border-radius:20px;
	padding: var(--open-step-3) var(--open-step-4);
}

section.case-study .details .wording {
	margin-top:auto;
}

section.case-study .details .wording p {
	margin-bottom:24px;
}

/*img.cover-image {max-width:653px}*/


@media all and (min-width:992px){
	section.case-study {
/*		gap:24px;*/
	}
	section.case-study.swap {
		display: grid;
		grid-template-columns: 1fr fit-content(56%);
	}

	section.case-study.swap .hero {
		order:2;
	}

	section.case-study.swap h2{
		text-align:right;
	}

	section.case-study.swap h2::after{
		position:absolute;
		right:0;
	}
}
@media all and (min-width:1536px){
	.tools > div {
	grid-template-columns: 1fr 1fr 1fr;
}
}
@media all and (max-width:991px){
	section.case-study {
			padding: var(--title-step-0) 0 var(--title-step-0) 0;

	}
	section, section.case-study {
		max-width: 767px;
		margin:auto;
	}
	section.header > div {
		flex-flow: column; 
		align-self:center;
	}
	section.header .wording {
		align-items: center;
	}
	section.case-study.single-col {
		max-width: 767px;
	}
	h1.title {
		font-size:calc(100vw*.15);
		text-align: center;
		line-height: 80%;
	}
	section.case-study .hero h2 {
		top:6%;
	}
	p.subtitle {
		text-align: center;
		width:100%;
	}
	section.case-study, section.case-study.swap {
		grid-template-columns: 1fr;
	}

	section.case-study .hero, img.cover-image {
		max-width: none;
	}

	section.case-study > div {
		padding: 8px 16px;
		margin: 0;
	}
	section.case-study .details {
		margin-top:0;
	}

	section.case-study .details .wording {
		margin-top:24px;
	}

}


/*----- FOOTER --------*/
footer div {
	display: flex;
	padding: 32px 40px;
	justify-content: center;
	align-items: center;
	gap: var(--open-step-5);
	align-self: stretch;
}

footer a {
	font-weight: 400;
	border-bottom: solid 2px #ffffff00;
	font-size:var(--open-step-1);
}



/*----- ABOUT --------*/
.text-center {
	text-align: center;
}
.about h1.title {
	padding-bottom:var(--open-step-4);
	text-align:left !important;
}
.about section.case-study {
	gap:34px;
}

.about .yellow-back {
	display:flex;
	flex-flow:column;
	gap:0;
}

div.yellow-back > div {
	background-color: rgba(250, 185, 2, 0.10);
	padding: 0 34px;
	text-align: center;
	max-width: none;
/*	margin:auto;*/
}

div.yellow-back > div > div {
	width:100%;
	margin:auto;
}

.about .information {
	text-align:left;
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--open-step-0) var(--open-step-5);
}

.about .information .info-item {
	display: flex;
	flex-flow:column;
	gap:12px;
	border-top: 2px solid rgba(232, 172, 2, 0.24); 
	padding: var(--open-step-3) var(--open-step-2);
}

.about .information .info-item p {
	color: #404347;
	font-family: Crimson Pro Regular;
}


.about .information .info-item > div {
	display: grid;
	grid-template-columns: auto 33px;
}

@media all and (max-width:991px){
	div.yellow-back > div {
		padding: 16px;
	}
	div.yellow-back > div > div {
	max-width: 767px;
}
	.about section.case-study {
		gap:20px;
	}

	.about .information {
		grid-template-columns: 1fr;
		gap:0;
	}
}


/*----- UTILITY --------*/
.no-border {
	border:none !important;
}
